<!-- templates/schedule.html -->
<html>
    <head>
        <title>MLB Schedule</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container mt-3">
            <h1>MLB Schedule</h1>
            <form method="post">
                <label for="dt">Date:</label>
                <input type="text" id="dt" name="dt">
                <input type="submit" value="Get Schedule">
            </form>
            <br>
            {{ table | safe }}
        </div>
    </body>
</html>
